# DATABASE_URL: Pakai port 6543 (Pooler/pgbouncer) agar Next.js tidak bikin koneksi jebol saat Hot Reload
DATABASE_URL="postgresql://postgres.dkahikodtedevswfnfav:Bulog13579%21%40%23@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connect_timeout=30&sslmode=require"

# DIRECT_URL: Pakai port 5432 di host Pooler (Mendukung IPv4 penuh, bebas blokir ISP)
DIRECT_URL="postgresql://postgres.dkahikodtedevswfnfav:Bulog13579%21%40%23@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?connect_timeout=30&sslmode=require"
# DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@DIRECT_HOST:5432/postgres?connection_limit=3&connect_timeout=30&sslmode=require"
# MIGRATE_DATABASE_URL="postgresql://USER:PASSWORD@DIRECT_HOST:5432/postgres?connection_limit=3&connect_timeout=30&sslmode=require"

# === Authentication ===
AUTH_SECRET="fb5c0b2b992b87e54698e53c169cd199e5ab0cf7f56249945219a89ce9a40197"
AUTH_SUPER_PASSWORD="Shadow13579!!@@##"
AUTH_EMAIL="admin@bulog.co.id"
AUTH_PASSWORD="strong-admin-password"
SESSION_TTL_MS=604800000


# === API ===
NEXT_PUBLIC_API_URL="http://localhost:3000"

# === Timezone ===
TZ_OFFSET_HOURS=7
